# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence

# set instance name
quartz.scheduler.instanceName = ServerScheduler

# configure thread pool info
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 10


# job initialization plugin handles our xml reading, without it defaults are used
# quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins
# quartz.plugin.xml.fileNames = ~/quartz_jobs.xml

# export this server to remoting context
quartz.scheduler.exporter.type = Quartz.Simpl.RemotingSchedulerExporter, Quartz
quartz.scheduler.exporter.port = 555
quartz.scheduler.exporter.bindName = QuartzScheduler
quartz.scheduler.exporter.channelType = tcp
quartz.scheduler.exporter.channelName = httpQuartz

# set connection string
quartz.dataSource.SQLServer.connectionString = Server=localhost;Database=QuartzScheduler;UID=sa;PWD=Password123
quartz.dataSource.SQLServer.provider = SqlServer

# set serialization type
quartz.serializer.type = json

# set job store properties
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.misfireThreshold = 60000
quartz.jobStore.dataSource = SQLServer
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.jobStore.lockHandler.type = Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.useProperties = true

# enable execution logging
# check http://quartznet.sourceforge.net/apidoc/1.0/html/html/233af0b1-771e-fc0b-9b27-dacc27d08ba5.htm
quartz.plugin.triggHistory.type = Quartz.Plugin.History.LoggingJobHistoryPlugin, Quartz.Plugins
quartz.plugin.triggHistory.jobToBeFiredMessage = *** Job {1}.{0} fired (by trigger {4}.{3}) at: {2:HH:mm:ss MM/dd/yyyy}
quartz.plugin.triggHistory.jobSuccessMessage = *** Job {1}.{0} execution complete at {2:HH:mm:ss MM/dd/yyyy} and reports: {8}
quartz.plugin.triggHistory.jobFailedMessage = *** Job {1}.{0} execution failed at {2:HH:mm:ss MM/dd/yyyy} and reports: {8}
